@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.App {
  text-align: center;
}


/******************************************** SEGUNDO NAV *****************************************/
.contenedorNav{
  height: 70px !important;
  width: 100%;
}

.secondNav{
    width: 100%;
    height: 70px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navButtons{
  display: flex;
  justify-content: space-around;
  width: 45%;
  height: 100%;
  margin-right: 90px;
}

.botoncito{
  color: rgb(16, 39, 66);
  text-decoration: none;
  margin-left: 5%;
  display: flex;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;

  position: relative;
}

.botoncito:hover{
  color: #0d6efd;
}

.botoncito:before{
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #0d6efd;
  position: absolute;
  /*left:0;*/
  bottom:15px;
  transition: all .3s;
}

.botoncito:hover:before{
  width: 100%;
}

.botoncito:before{
left:50%;
}

.botoncito:hover:before{
left:0;
}

.secondNav img{
  width: 230px;
}

.logout{
  width: 80px;
  background-color: rgb(45, 171, 180);
  border:none;
  border-radius: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s ease-in-out;
  margin-right: 20px;
}

.logout:hover{
  background-color: #142841;
  cursor: pointer;
}



/***************************************** BodyHome **************************************/

.containerBody{
  min-height: 630px;
  background: url(../src/images/fondo.jpeg) fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bodyHome{
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.bodyHome h1{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 550;
  margin-bottom: 60px;
  margin-top: 60px;
}

.bodyHome h2{
  width: 38%;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
}


.login{
  color: #142841;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 60px;
  background-color: white;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  transition: all 1s ease-in-out;
  margin-top: 60px;
}

.login:hover{
  background-color: #24afb2;
  color: white;
}

/************************************* Body Login ****************************************/

.bodyLogin{
  min-height: 630px;
  background:url(../src/images/fondo.jpeg) fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}


.formContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 450px;
  background-color: rgb(224, 224, 224);
  border-radius: 10px;

}

.form img{
  width: 170px;
  margin-bottom: 40px;
}

.bodyLogin label{
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.bodyLogin input{
  width: 250px;
  height: 35px;
  border: 1px solid #91abd4;
  border-radius: 5px;
  margin-bottom: 1%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: #ccddf8;
}

.bodyLogin input::placeholder{
  color: rgb(71, 71, 71);
}

.buttonLogin{
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  background-color: #142841;
  color: white;
  margin-top: 15px;
}


.bodyLogin button:hover{
  background-color: #24afb2;
  cursor: pointer;
}

.registrar{
  display: none;
}

.ingresar{
  width: 250px;
  height: 50px;
  background-color: white;
  text-decoration: none !important;
  color:black;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingresar:hover{
  background-color: rgb(175, 175, 175);
}

.fotoIngresar{
  width: 200px !important;
}

#login2{
  background-color: #142841 !important;
  color:white !important;
  margin: 0 !important;
}

#login2:hover{
  background-color: #24afb2 !important;
}

.mensajeError{
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(194, 86, 86, 0.575);
  color: white;
  margin-top: 10px;
}


/***************************************** BODY CONTENT ***********************************/

.contenedorSecciones{
  width: 100%;
  min-height: 630px;
  background:url(../src/images/fondo.jpeg) fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.bodyContent{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60% !important;
  margin-top: 5%;
}

/************************************* BODY ULTRA *****************************************/

.bodyUltra{
  margin-top: 85px;
  background:url(../src/images/fondo.jpeg) fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  padding-bottom: 10px;
}

/************************************* BODY ESTETICA *****************************************/

.bodyEstetica{
  margin-top: 85px;
  background:url(../src/images/fondo.jpeg) fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  padding-bottom: 10px;
}

/************************************* BODY HOSPITALARIA *****************************************/

.bodyHospitalaria{
  background:url(../src/images/fondo.jpeg) fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  width: 100%;
  padding-bottom: 10px;
}

/***************************************** BODY ERROR *************************************/

.bodyError{
  margin-top: 85px;
  background:url(../src/images/fondo.jpeg) fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

/**************************************** WORK UNITS ***************************************/

.unitsContainer{
  height: 200px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 4%;
  box-shadow: 5px 5px 20px 2px black;
  text-decoration: none;
  color: #174180;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}

.unitsContainer:hover{
  transform: translateY(-5%);
}

.unitsContainer img{
  width: 140px;
}

.unitsContainer h2{
  font-size: 1.2em;
}

/********************************************* DROP DOWN *************************************/

.dropdown-toggle{
  width: 200px;
  height: 200px;
}

/**************************************** SUB UNITS ****************************************/

.subUnitsContainer{
  height: 60px;
  width: 800px;
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 5px;
  margin-top: 4%;
  box-shadow: 5px 5px 20px 2px black;
  text-decoration: none;
  color: #174180;
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  margin: 15px 20px 0px 30px;
}

.subUnitsContainer h2{
  font-size: 1.6em;
  height: 20px;
  margin-left: 15px;
}

.subUnitsContainer img{
  width: 50px;
  margin-left: 20px;
}

.subUnitsContainer:hover{
  background-color: rgb(177, 177, 177);
  cursor:pointer;
}

/************************************** SUB ITEMS ******************************************/
.items{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.sub-items{
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in-out;
  border-radius: 5px;
  background-color: rgba(170, 162, 162, 0.327);
  margin: 10px 20px 5px 30px;
}

.active{
  opacity:1;
  display: block;
}

#hola{
  display: none;
  background-color: black;
  height: 30px;
  width: 230px;

}

/****************************************** TIPOS DE EQUIPO **********************************/
.tipoEquipoContainer{
    height: 60px;
    width: 800px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    margin-top: 4%;
    box-shadow: 5px 5px 20px 2px black;
    text-decoration: none;
    color: #174180;
    transition: all 1s ease-in-out;
    display: flex;
    align-items: center;
    margin: 15px 20px 15px 20px;
}

.tipoEquipoContainer h2{
  font-size: 1.6em;
  height: 20px;
  margin-left: 15px;
}

.tipoEquipoContainer img{
  width: 50px;
  margin-left: 20px;
}

.tipoEquipoContainer:hover{
  background-color: rgb(177, 177, 177);
  cursor:pointer;
}

.tipoEquipo{
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in-out;
    border-radius: 5px;
    margin-left: 50px;
}

/******************************************  EQUIPOS ******************************************/

.cont{
  display: flex;
  flex-direction: column;
  transition: all 1s ease-in-out;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.equipoContainer{
  height: 50px;
  width: 790px;
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 5px;
  box-shadow: 5px 5px 20px 2px black;
  text-decoration: none;
  color: #174180;
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
}

.equipoContainer h2{
  font-size: 1.6em;
  height: 20px;
  margin-left: 10px;
}

.equipoContainer img{
  width: 40px;
  margin-left: 30px;
}

.equipoContainer:hover{
  background-color: rgb(177, 177, 177);
  cursor:pointer;
}

/****************************************** PDF ITEM *****************************************/

.pdf-item{
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  color: white;
  margin: 5px 5px 5px 5px;
  margin-left: 10px;
  width: 100%;
}

.pdf-item img{
  width: 50px;
  height: 50px;
  filter: saturate(200%);
}

.pdf-item h3{
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.pdf-item:hover{
  cursor: pointer;
  color: black;
}

/**************************************** FOOTER ******************************************/
.footer{
  background-color: rgb(16, 39, 66);
  font-size: 0.7em;
  padding: 60px 0px
}

.footer-links{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-link-items{
  display: flex;
  flex-direction: column;
}

.footer-link-items a,
.footer-link-items h2{
  color: white;
  text-decoration: none;
  text-align: start;
}

.footer-link-items h2{
  font-size: 1.2em !important;
}

.footer-link-items a:hover{
  color: rgb(27, 80, 141);
}

.footer-link-items-sub{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}