@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.App {
  text-align: center;
}

/********************************** NAVBAR ************************************************/

.firstNav{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(16, 39, 66);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-item{
  display: flex;
  align-items: center;
}

.nav-item a{
  font-size: 0.7em;
  height: 10px;
  text-decoration: none;
  color: white;
  padding: 0px 10px;
  border-left: 1px solid white;
  display: flex;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
}

.nav-item a:hover{
  color: grey;
}

.iconos{
  height: 30px !important;
  width: 30px;
}

.telefono{
  height: 30px !important;
  cursor: pointer;
}

.telefono:hover{
  color: grey;
}

.nav-item img{
  width: 25px;
}

.not-border{
  border: none !important;
}

/******************************************** SEGUNDO NAV *****************************************/

.secondNav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 100;
}

.navButtons{
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: 100%;
}

.botoncito{
  color: rgb(16, 39, 66);
  text-decoration: none;
  margin-left: 5%;
  display: flex;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;

  position: relative;
}

.botoncito:hover{
  color: #0d6efd;
}

.botoncito:before{
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #0d6efd;
  position: absolute;
  /*left:0;*/
  bottom:15px;
  transition: all .3s;
}

.botoncito:hover:before{
  width: 100%;
}

.botoncito:before{
left:50%;
}

.botoncito:hover:before{
left:0;
}

.secondNav img{
  width: 230px;
  margin-left: 80px;
}

.logout{
  width: 80px;
  background-color: rgb(221, 67, 67);
  border:none;
  border-radius: 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s ease-in-out;
}

.logout:hover{
  background-color: tomato;
  cursor: pointer;
}



/***************************************** BodyHome **************************************/

.containerBody{
  height: 630px;
  background: url(../src/images/tecno1.jpg) fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bodyHome{
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.bodyHome h1{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: 500;
  margin: 0% !important;
}

.bodyHome h2{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

.login{
  color: white;
  text-decoration: none;
  padding: 10px 65px;
  background-color: rgb(74, 150, 201);
  border: 2px solid white;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  transition: all 1s ease-in-out;
}

.login:hover{
  background-color: rgb(51, 103, 138);
  color: white;
}

/************************************* Body Login ****************************************/

.bodyLogin{
  height: 630px;
  background:url(../src/images/tecno2.jpg) fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.infoDist{
  width: 40%;
  text-align: start;
}

.infoDist h2{
  font-family: 'Poppins', sans-serif;
  font-size: 2.2em;

}

.infoDist p{
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 600;
}

.infoDist a{
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4em;
  transition: all 1s ease-in-out;
}

.infoDist a:hover{
  color:black;
}

.formContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
  width: 40%;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
  background-color: rgba(43, 43, 43);
  border-radius: 10px;
}

.form img{
  width: 130px;
  margin-bottom: 10px;
}

.bodyLogin label{
  color: white;
  font-family: 'Poppins', sans-serif;
}

.bodyLogin input{
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin-bottom: 1%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.bodyLogin button{
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.bodyLogin button:hover{
  background-color: rgb(175, 175, 175);
  cursor: pointer;
}

.registrar{
  display: none;
}

.ingresar{
  width: 250px;
  height: 50px;
  background-color: white;
  text-decoration: none !important;
  color:black;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingresar:hover{
  background-color: rgb(175, 175, 175);
}

.fotoIngresar{
  width: 200px !important;
}


/***************************************** BODY CONTENT ***********************************/

.bodyContent{
  margin-top: 85px;
  background:url(../src/images/tecno3.jpg) fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/************************************* BODY ULTRA *****************************************/

.bodyUltra{
  margin-top: 85px;
  background:url(../src/images/tecno3.jpg) fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

/**************************************** WORK UNITS ***************************************/

.unitsContainer{
  height: 250px;
  width: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 4%;
  box-shadow: 5px 5px 20px 2px black;
  text-decoration: none;
  color: #174180;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.unitsContainer:hover{
  transform: translateY(-5%);
}

.unitsContainer img{
  width: 140px;
}

/********************************************* DROP DOWN *************************************/

.dropdown-toggle{
  width: 200px;
  height: 200px;
}

/**************************************** SUB UNITS ****************************************/

.subUnitsContainer{
  height: 200px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 4%;
  box-shadow: 5px 5px 20px 2px black;
  text-decoration: none;
  color: #174180;
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.subUnitsContainer img{
  width: 100px;
}

.subUnitsContainer:hover{
  background-color: rgb(177, 177, 177);
  cursor:pointer;
}

/************************************** SUB ITEMS ******************************************/
.items{
  display: flex;
}

.sub-items{
  display: flex;
  flex-wrap: wrap;
  transition: all 1s ease-in-out;
  height: 200px;
  width: 200px;
  background-color: red;
  margin: 20px;
}

.active{
  opacity:1;
  display: block;
}

/****************************************** PDF ITEM *****************************************/

.pdf-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

.pdf-item img{
  width: 60px;
  height: 60px;
}

.pdf-item h3{
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9em;
}

/**************************************** FOOTER ******************************************/
.footer{
  background-color: rgb(16, 39, 66);
  font-size: 0.7em;
  padding: 60px 0px;
}

.footer-links{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-link-items{
  display: flex;
  flex-direction: column;
}

.footer-link-items a,
.footer-link-items h2{
  color: white;
  text-decoration: none;
  text-align: start;
}

.footer-link-items h2{
  font-size: 1.2em !important;
}

.footer-link-items a:hover{
  color: rgb(27, 80, 141);
}

.footer-link-items-sub{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}